body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #41b3a3
}
#businessList{
    background-color: #e8a87c;
    width: 800px;
}
.businessName{
    text-align: center;
    color: white;
}
.businessDescription{
    text-align: left;
    color:white;
}
.businessInput{
    width: 175px;
    height: 30px;
    margin: 15px;
}
#businessImage{
    width: 384px;
    height: 216px;
}
#business{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#kelpLogo{
    
    font-size: 45px;
    font-family: 'Orelega One', cursive;
    margin: 0px;
}
#navBar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:white;
    background-color: #E27D60;
    height: 30px
}
.navLinks{
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right:10px;
    height:20px;
    padding: 0;;
}
#searchBox{
    display: flex;
    justify-content: center;
}
#searchInput{
    width: 300px;
    height:25px;
    font-size: 40;
    text-align: center;
}
#signUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8A87C;
    width: 250px;
    margin-top: 150px;
    border-radius: 15px;
}
#signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
#signUpHeader{
    width: 175px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    
}
.signUpInput{
    width: 175px;
    height: 30px;
    margin: 15px;
}
#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white
}

.hidden{
    display: none;
}